%h1 Memo#edit

%div
  = "最終更新：#{@memo.updated_at.strftime("%Y年%m月%d日 %H時%M分%S秒")}"

.title
  %textarea{ "v-model" => "title" }
    = @memo.title
  %div
    {{ title }}

.text
  %textarea{":value" => "input", "@input" => "update"}
    = @memo.text  
  %div{"v-html" => "markdownText", "style" => "white-space:pre-wrap;"}

= link_to '一覧へ戻る', memo_index_path

= javascript_pack_tag 'hello_vue'
